body {
    background-color: silver;
}

img {
    object-fit: cover;
    object-position: center;
}

.colored-square {
    width: 200px;
    height: 200px;
    border: 2px solid;
}

#jstack-images-ctnr img {
    height: 200px;
}

#lightbox-gallery-ctnr {
    margin-top: 240px;
}

#lightbox-gallery-ctnr img {
    width: 200px;
    height: 200px;
}

#slick-section {
    margin: 30px auto;
    width: 80%;
}

#slick-section img {
    height: 300px;
}